.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
config.properties
.settings/
.loadpath
.recommenders

# DS_Store
.DS_Store

# .project
.project

# .classpath
.classpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

